/*
$green: #009688
$blue: #448AFF
*/

@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../lib/fonts/roboto/Roboto-Thin.eot");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../lib/fonts/roboto/Roboto-Light.eot");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../lib/fonts/roboto/Roboto-Regular.eot");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../lib/fonts/roboto/Roboto-Medium.eot");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../lib/fonts/roboto/Roboto-Bold.eot");
  font-weight: 700;
}

html {
    width: 500px;
}
body {
    margin: 0;
    font-family: "Roboto", 'Helvetica','Arial',sans-serif;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.cf:after {
    content: '';
    clear: both;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
label {
    cursor: pointer;
}
label span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 12px;
    background-color: #ccc;
    border-radius: 10px;
    transition: background-color 0.4s;
}
label input {
    width: 0;
    height: 0;
    margin: 0;
}
label span:after {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    top: -3px;
    left: 0;
    background-color: #e5e5e5;
    transition: all 0.4s;
}
label input:checked + span {
    background-color: #009688;
}
label input:checked + span:after {
    left: 22px;
    background-color: #00B8A5;
}

header {
    padding: 13px 10px 13px 20px;
    background-color: #009688;
    color: #fff;
}
header h1 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}
header a {
    line-height: 24px;
    color: #ccc;
    transition: color 0.4s;
}
header a:hover {
    color: #fff;
}

nav {
    position: relative;
    float: left;
    width: 160px;
    height: 430px;
    font-size: 14px;
    background-color: #fafafa;
}
nav ul {
    background-color: #fff;
    color: #666;
}
nav li {
    padding-left: 10px;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.4s;
    background-color: #fafafa;
}
nav i {
    width: 20px;
    text-align: center;
}
nav li:hover {
    color: #448AFF;
    background-color: #eee;
    border-radius: 0 !important;
}
nav li.active {
    color: #448AFF;
    background-color: #fff;
}
nav .pre-active {
    border-bottom-right-radius: 10px;
}
nav li.active + li {
    border-top-right-radius: 10px;
}
nav .active-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-left: 4px solid #448AFF;
    z-index: 1;
    transition: top 0.4s;
}

main {
    position: relative;
    float: right;
    width: 340px;
    height: 430px;
}
main section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 20px;
    opacity: 0;
    transition: opacity 0.4s;
    color: #333;
}
main section.active {
    opacity: 1;
    z-index: 1;
}

section h2 {
    margin: 0;
    font-size: 14px;
}
section p {
    margin: 0;
    color: #999;
}
section .panel {
    margin: 20px 0;
}

.panel label {
    position: relative;
    top: 2px;
    right: 40px;
}
.panel ul {
    height: 100px;
    margin: 8px 0;
    border: 1px solid #eee;
    width: 260px;
    color: #666;
}
.panel li {
    position: relative;
    padding-left: 6px;
    line-height: 24px;
    cursor: default;
    transition: background-color 0.4s;
}
.panel li i {
    position: absolute;
    right: 5px;
    top: 6px;
    color: #aaa;
    transform: scale(0);
    transition: all 0.4s;
}
.panel li:hover {
    background-color: #fafafa;
}
.panel li:hover i {
    transform: scale(0.8);
}
.panel li:hover i:hover {
    color: #448AFF;
    transform: scale(1.2);
}
.panel .input {
    display: inline-block;
    width: 250px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    border: 1px solid #eee;
    transition: border-color 0.4s;
}
.panel .input:focus {
    outline: none;
    border-color: #aaa;
}
.panel .btn {
    display: inline-block;
    margin-left: 5px;
    color: #666;
    transition: color 0.4s;
}
.panel .btn:hover {
    color: #448AFF;
}