@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../lib/fonts/roboto/Roboto-Thin.eot");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../lib/fonts/roboto/Roboto-Light.eot");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../lib/fonts/roboto/Roboto-Regular.eot");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../lib/fonts/roboto/Roboto-Medium.eot");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../lib/fonts/roboto/Roboto-Bold.eot");
  font-weight: 700;
}
