main {
    position: relative;
    float: right;
    width: 340px;
    height: 430px;
    section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 12px 20px;
        opacity: 0;
        transition: opacity 0.4s;
        color: #333;
        &.active {
            opacity: 1;
            z-index: 1;
        }
    }
}